.CenterText {
  text-align: center;
}

.MarginBottomSmall {
  margin-bottom: 1.5rem;
}

.MarginBottomMed {
  margin-bottom: 4rem;
}

.MarginBottomBig {
  margin-bottom: 8rem;
}

.MarginTopMed {
  margin-top: 4rem;
}

.MarginTopHuge {
  margin-top: 10rem;
}

.Heading {
  margin-top: 5vh;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}
