.CenterText {
  text-align: center;
}

.MarginBottomSmall {
  margin-bottom: 1.5rem;
}

.MarginBottomMed {
  margin-bottom: 4rem;

  @include breakpoints(tab-port) {
    margin-bottom: 5rem;
  }
}

.MarginBottomBig {
  margin-bottom: 8rem;

  @include breakpoints(tab-port) {
    margin-bottom: 5rem;
  }
}

.MarginTopMed {
  margin-top: 4rem;
}

.MarginTopHuge {
  margin-top: 10rem;
}
