@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin linearGradient($color1, $color2, $opacity) {
  background-image: linear-gradient(
    to right bottom,
    rgba($color1, $opacity),
    rgba($color2, $opacity)
  );
}

@mixin absoluteCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
