.Btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2rem 5rem;
  outline: none;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
}

.BtnText {
  color: $color-primary;
  border: none;
  outline: none;
  border-bottom: 1px solid $color-primary;
  padding: 3px;
  font-size: $default-font-size;
  background-color: transparent;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: $deep-box-shadow;
    transform: translateY(0);
  }
}

.BtnWhite {
  background-color: $color-white;
  color: $color-dark-grey-1;

  &::after {
    background-color: $color-white;
  }
}

.BtnGreen {
  background-color: $color-primary;
  color: $color-white;

  &::after {
    background-color: $color-primary;
  }
}
