@import "../../theme.scss";

.Features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../../assets/hero.jpg);
  background-size: cover;
}

.FeatureBox {
  .Icon {
  }

  .Text {
  }
}
